html,
body,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-background {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: #98ABEE;
  height: 100vh;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.menu-item:hover, .active {
  background-color: #6C7EEB;
  transition: ease-in-out 0.3s;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.brand-name {
  font-size: 1em;
  margin: 0px 10px;
}

.wide-panel {
  display: flex;
  height: fit-content;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #98ABEE;
  border-radius: 20px;
}

.wide-panel img {
  width: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-container h2 {
  font-size: 1em;
}

.text-container p {
  font-size: 0.8em;
}

.mainsection {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.two-chart,
.three-chart {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.medium-chart {
  display: flex;
  width: 37vw;
  background-color: #98ABEE;
  border-radius: 20px;
  padding: 20px;
}

.small-chart {
  display: flex;
  width: 23.5vw;
  background-color: #98ABEE;
  border-radius: 20px;
  padding: 20px;
}

.wide-chart {
  display: flex;
  background-color: #98ABEE;
  border-radius: 20px;
  padding: 20px;
}