:root {
  --wide-width: calc(100% - 20px * 2);
  --medium-width: calc(var(--wide-width) / 2 - 10px);
}

html,
body,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-background {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-color: #98abee;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.menu-item:hover,
.active {
  background-color: #6c7eeb;
  transition: ease-in-out 0.3s;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.brand-name {
  font-size: 1em;
  margin: 0px 10px;
}

.wide-panel {
  display: flex;
  height: fit-content;
  width: var(--wide-width);
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #98abee;
  border-radius: 20px;
}

.wide-panel img {
  width: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-container h2 {
  font-size: 1em;
}

.text-container p {
  font-size: 0.8em;
}

.mainsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.two-chart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.three-chart {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}

.medium-chart {
  display: flex;
  width: var(--medium-width);
  background-color: #98abee;
  border-radius: 20px;
  padding: 20px;
}

.small-chart {
  display: flex;
  width: 23.5vw;
  background-color: #98abee;
  border-radius: 20px;
  padding: 20px;
}

.wide-chart {
  display: flex;
  width: var(--wide-width);
  flex-direction: column;
  background-color: #98abee;
  border-radius: 20px;
  padding: 20px;
}

.patient-list {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #98abee;
  border-radius: 20px;
}

.patient-list img {
  width: 100px;
}

.error {
  color: red;
}

.container {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 1.5rem;
  background-color: #bfebff;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.form {
  align-self: center;
}
.form_input {
  width: clamp(120px, 50vw, 420px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border: none;
  border-radius: 10px;
  margin: 0.625rem auto;
  transition: all 250ms;
  @media (min-width: 768px) {
    width: clamp(120px, 35vw, 420px);
  }
}

.form_label {
  font-size: 1rem;
  color: grey;
  display: block;
}

.icon-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-logo {
  width: 35px;
  height: 20px;
  margin-right: 8px;
}

.selected-icon {
  width: 35px;
  height: 20px;
  margin-right: 8px;
}
